{% extends "auctions/layout.html" %}
{% block title %}Active listings{% endblock %}
{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-6 image-container">
                    <a href="{% url 'listing' listing.id %}" class="index-link">
                        <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid index-image">
                    </a>
                </div>
                <div class="col-lg-8 col-6">
                    <a href="{% url 'listing' listing.id %}" class="index-link">
                        <h3>{{ listing.title }}</h3>
                    </a>
                    <h5><b>Price:</b>  ${{ listing.current_price }} </h5> 
                    <p><b>Listed by:</b> {{ listing.user.first_name }} {{ listing.user.last_name }}</p>
                    {% if listing.number_of_bids %}
                        <small>{{ listing.number_of_bids }} bid(s)</small> <br>
                    {% else %}
                        <small>No bids yet</small> <br>
                    {% endif %}
                    <small>Created: {{ listing.created }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
  
    <div class="border-bottom"></div>
{% endblock %}