{% extends "auctions/layout.html" %}
{% block title %}Active listings{% endblock %}
{% block body %}
    <h2>My watchlist</h2>
    
    {% for listing in listings %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-6 image-container">
                    <a href="{% url 'listing' listing.id %}" class="index-link">
                        <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid index-image">
                    </a>
                </div>
                <div class="col-lg-8 col-6">
                    <a href="{% url 'listing' listing.id %}" class="index-link">
                        <h3>{{ listing.title }}</h3>
                    </a>
                    <h5><b>Price:</b>  ${{ listing.starting_price }} </h5> 
                    <small>Created {{ listing.created }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        <h2 style="text-align: center;">Nothing in the watchlist</h2>
    {% endfor %}
    <div class="border-bottom"></div>
{% endblock %}