{% extends "auctions/layout.html" %}
{% block title %}Winner{% endblock %}
{% block body %}
    
    {% if request.user == listing.winner %}
        <h2 style="text-align: center;">Congratulations! You are the winner of this auction!</h2>
    {% elif listing.winner == None %}
        <h2 style="text-align: center;">Sorry no one won this auction!</h2>
    {% else %}
        <h2 style="text-align: center;">{{ listing.winner.first_name }} {{ listing.winner.last_name }} is the winner of this auction!</h2>
    {% endif %}

    <div class="image-container">
        <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid listing-img">
    </div>

    <p>{{ listing.description }}</p>
    <h4><b>${{ listing.current_price }}</b></h4>

    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user.first_name }} {{ listing.user.last_name }}</li>
        <li>Category: {{ listing.get_category_display }}</li>
    </ul>

  

{% endblock %}